@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('Gemini_Generated_Image_qc7q3oqc7q3oqc7q.png') no-repeat center center fixed ;
    background-size: cover;
}
.menu{
    border: none;
    background-color: transparent;
    color: rgb(189, 169, 142);
    text-shadow: 1px 1px 2px rgb(98, 56, 23);
    font-size: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav p{
    font-family:'Raleway';
    font-size: 2rem;
   color: rgb(68, 43, 23) ;
    text-shadow: 1px 3px 2px #f7ef8a;
}
nav a{
    border: 2px solid rgb(98, 56, 23);
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(98, 56, 23);
    background-color: transparent;
    font-family: 'Raleway';
}
aside {
    display: flex;
     justify-content:flex-end;
    align-items: end;

} 
aside img{
    margin-top: 8%;
    margin-left:80% ;
    margin-right: 10%;
    border-radius: 40px;
    /* box-shadow: 0 0 2px rgb(98, 56, 23); */
    filter: drop-shadow(8px 8px 10px rgb(59, 59, 59));
    object-fit: cover;
    transition: 0.3s ease-in-out;
    padding: 10px;
}
aside img:hover{
    transform: scale(0.9);
    filter: grayscale(70%);
}
.centered{
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    flex-direction: row;
    margin-top: -20%;
    margin-left: 30%;
    background-color: rgba(179, 179, 179, 0.42);
    text-shadow: 1px 2px 6px rgba(4, 4, 4, 0.959);
    color: rgb(40, 22, 9);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Raleway';
}
section{
   
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
section img{
    margin-top: 15%;
    margin-right:90% ;
    margin-left: 10%;
    border-radius: 40px;
    /* box-shadow: 0 0 2px rgb(98, 56, 23); */
    object-fit: cover;
    filter: drop-shadow(8px 8px 10px rgb(39, 39, 39));
    transition: 0.3s ease-in-out;
    padding: 10px;
}
section img:hover{
    transform: scale(0.9);
    filter: grayscale(70%);
}
.base-right{
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    flex-direction: row;
    margin-top: -20%;
    margin-left: 40%;
    background-color: rgba(181, 173, 165, 0.551);
    text-shadow: 1px 2px 6px solid rgb(6, 6, 6);
    color: rgb(40, 22, 9);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Raleway';
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    border: 2px solid rgb(98, 56, 23);
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(71, 41, 18);
    background-color: rgba(193, 177, 156, 0.73);
    /* margin-left: 50%; */
    font-family: 'Raleway';
    cursor: pointer;
}